{{#each task}}

    <h2>Editar Task: {{name}}</h2>
        <form  method="POST" action="/task/edit/{{_id}}">
{{/each}}
        
        {{#each username}}
        <label for="name">Usuário:</label>
            <input type="text" name="name" placeholder="{{user}}"disabled><br>
        {{/each}}

{{#each task}}
            <label for="name">Nome:</label>
                <input type="text" value="{{name}}" name="name"><br>
            <label for="endDate">Data de finalização:</label>
                <input type="date" name="endDate" value="{{#date_Format}}{{endDate}}{{/date_Format}}" min="{{#date_Format}}{{minDate}}{{/date_Format}}"><br>
            <label for="description">Descrição:</label><br> 
                <textarea name="description" id="description" cols="30" rows="10" name="description">{{description}}</textarea><br>
            <label for="done">Finalizado ?</label><br>
                <input type="radio" id="done" name="done" value="true" required>
                <label for="done">Sim</label>
                <input type="radio" id="done" name="done" value="false">
                <label for="done">Não</label>
            <button type="submit">Salvar</button>
    </form>
{{/each}}